@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --height-header: 64px;
    --width-content: 768px;
    --width-limit: 360px;
  }

  * {
    scroll-behavior: smooth;
  }

  body {
    cursor: default;
  }

  code {
    font-family: var(--font-roboto);
  }
}

.notion {
  @apply font-pretendard;
}

.notion-page {
  @apply w-full px-0;
}

.notion-collection-page-properties {
  @apply h-0 w-0 opacity-0;
}

.notion-h1 {
  @apply mt-16 text-xl font-bold;
}

.notion-h2 {
  @apply mt-8 text-base font-bold;
}

.notion-h {
  @apply mb-1;
}

.notion-quote {
  @apply text-base font-extralight;
}

.notion-text {
  @apply my-2 text-pretty;
}

.notion-property-checkbox-checked {
  @apply bg-black;
}

.notion b {
  @apply font-medium;
}

.notion-inline-code {
  @apply bg-gray-50 font-pretendard font-medium text-black;
}

.notion-code {
  @apply rounded-none bg-gray-50 font-light;
}

.notion-hash-link {
  @apply float-right ml-[3px] mt-[6px];
}

/* code prettier */
.comment {
  @apply text-gray-400;
}

.parameter {
  @apply italic text-gray-500;
}

.keyword,
.boolean {
  @apply text-purple-600;
}

.module {
  @apply italic text-red-500;
}

.function {
  @apply text-blue-600;
}

.string {
  @apply text-green-600;
}

.property,
.number {
  @apply text-orange-500;
}
