@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --height-header: 64px;
    --width-content: 768px;
    --width-limit: 360px;
  }

  * {
    scroll-behavior: smooth;
  }

  body {
    cursor: default;
  }

  code {
    font-family: var(--font-roboto);
    color: white;
  }
}

.notion {
  @apply font-pretendard;
}

.notion-page {
  @apply w-full px-0;
}

.notion-collection-page-properties {
  @apply h-0 w-0 opacity-0;
}

.notion-h1 {
  @apply mt-16 text-2xl font-extrabold;
}

.notion-h2 {
  @apply mt-6 text-xl font-extrabold;
}

.notion-h {
  @apply mb-1;
}

.notion-quote {
  @apply text-base font-light leading-7;
}

.notion-text {
  @apply my-1 text-pretty leading-7;
}

.notion-property-checkbox-checked {
  @apply bg-black;
}

.notion b {
  @apply font-bold;
}

.notion-inline-code {
  @apply bg-gray-100 px-1 py-[1px] font-roboto font-medium text-black;
}

.notion-code {
  @apply min-h-[64px] rounded-none bg-gray-800 font-light;
}

.notion-hash-link {
  @apply float-right ml-[3px] mt-[6px];
}

.notion-list-disc {
  padding-inline-start: 20px;
}

/* resume only */
.notion-resume .notion-text {
  @apply my-0 leading-6;
}

.notion-resume .notion-list-disc {
  @apply -mt-1;
}

/* code prettier */
.comment {
  @apply text-gray-400;
}

.parameter {
  @apply italic text-gray-400;
}

.keyword,
.boolean {
  @apply text-purple-400;
}

.module {
  @apply italic text-red-500;
}

.function {
  @apply text-blue-300;
}

.string {
  @apply text-green-300;
}

.property,
.number {
  @apply text-orange-300;
}
